.btn-download{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    border: none;
    height: 40px;
    width: 200px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.8s;
}

.btn-download:hover{
    background-color: #000;
    color: #fff;
}

.btn-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.btn-download i{
    position: absolute;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s;
}

.btn-download:hover i{
    top: 50%;
}

.btn-download:hover .btn-text{
    top: -200%;
}